QMainWindow {
    background: qradialgradient(spread:pad, cx:0, cy:1, radius:1.406, fx:0, fy:1, stop:0 rgba(244, 216, 148, 255), stop:1 rgba(255, 102, 102, 255));
}

QLabel#catTitle {
    color: white;
}

QLineEdit {
    background: rgba(255,255,255,100);
    border: none;
    border-radius: 5px;
    color: white;
    padding-left: 10px;
}